//@import "layout";
$back_color: #edeff4;

.comment {
  background: $back_color;
}

.form-textarea-wrapper textarea {
  padding:  0;
  resize: none;
}

section#comments {
  margin-top: 35px;
}

article.comment {
  width: 100%;

}

.image-container {
  float: left;
  width: 37px;

  img {
    width: 35px;
    margin-left: 4px!important;
    padding-top: 8px;
  }
}

.comment-body-with-author {
  background: $back_color;
  margin-left: 30px;
  min-height: 60px;
  p {
    margin: 0;
    padding: 0;
  }
  .author-name{
    font-weight: bold;
    color: #3340be;
  }
}
.comment {
  margin-bottom: 1px!important;
}

.comment-header, .comment-footer {
  margin-left: 16px;
}

.main-comment {
    background: none;
  .image-container {
    width: 65px;
    background: none;
    img {
      width: 65px;
      margin-left: 0;
      padding: 0;
    }

  }

  .comment-body-with-author {
    margin-left: 70px;
    min-height: 67px;
  }
  .comment-header, .comment-footer {
    margin-left: 4px;
    padding: 2px 0 0 3px;

  }
  .comment-header {

  }
}

#comments .indented {
  margin-left: 70px;
}

.comment-date-created{
  display: block;
  font-size: .9em;
  color: #808287;
}

.main-comment {
  margin-top: 0px;
  border-top: 2px dotted #d1d1d1;
  padding-top: 7px;
}
.main-comment .add-post-comment-form {
  margin-top: 7px;

  .new-post-picture {
    float: left;
    width:  37px;

    img {
      width: 35px;
      margin: 0;
    }
  }
  .new-post-form {
    margin-left: 40px;
    padding-top: 0px;
    min-height: 55px;

    input.form-submit {
      //display: none;
    }


    input.form-submit{
      border: none; //1px solid #d2d2d2;
      border-radius: 0;
      padding:  0 5px 0 0;
      color:  #3340be;
      font-size: 0.7em;
      //float: right;
    }



    .grippie {
      display: none;
    }

    .form-item {
      margin: 0;
    }
  }

}

.link-wrapper ul.links .comment_forbidden {
  display: none;
}
