@import "social_comments_single_comment";
@import "social_comments_forms";

.social-comments-wrapper {
  padding:  5px;
  margin-top: 70px;
  font-size: 0.9em;
  font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;;
  //background: #e9eaed;

  /** Apply only to main comments **/
  #social-comments-list div{
    padding: 1px 0;
    //background: #fafbfb;

  }

  .social-comments-topic-container {
    border:  1px solid #e3e3e3;
    border-radius: 3px;
    margin: 15px 0;
  }
}
