@import "social_comments_base";

@mixin comment_layout {
  .social-comment-user-picture-container {
    float:left;
  }

  .social-comment-content {

    .social-comment-user-label {
      font-weight: bold;
      a:link {
        color: #3B5998;
      }
      color: #3B5998;
    }

    .social-comment-date-created {
      display: block;
      color: #999999;
    }
  }

  div.social-comment-links {

    overflow: auto;

    a:link {
      color: #3b5998;
    }

    ul {
      padding: 0;
      list-style-type: none;
      list-style-image: none;
      float: left;

      li {
        display: inline;
        margin: 0;
        padding-right: 4px;
      }
    }

    .form-type-checkbox {
      margin: 0;
      display: inline;
    }

    form {
      margin: 0;
    }

  }
}

#social-comments-list {

  /**************************************************************************************
   *** All comments layout ***
   *************************************************************************************/
  .social-comment {
    @include comment_layout;
    display: block;
    clear: both;
    overflow:auto;

    .ajax-progress {
      display: inline;
      float: right;
      width: 200px;
      padding: 0;
      margin: 0;
    }
  }


  /**************************************************************************************
   *** Main comments layout ***
   *************************************************************************************/
  .main-comment-container {
    img { width: $user_picture_main_comment_width; }

    .main-social-comment {
      padding: 2px;
    }

    .social-comment-user-label{
      display: block;
      font-size: 1.05em;
      line-height: 20px;
      padding-top: 10px;
    }

    .social-comment-date-created{
      line-height: 10px;
      padding-bottom: 10px;
    }

    .social-comment-content {
      margin-left: $indend_margin;

    }

    div.social-comment-links {

      background: #fafbfb;
      border: 1px solid #e9eaed;
      padding: 4px 0;

      ul {
        margin: 0 10px;
      }


    }

    div.social-comments-ajax-container {
      margin-left: $indend_margin;
    }

    div.social-comments-form-container {
      margin-left: $indend_margin;
    }

  }


  /**************************************************************************************
   *** Children comments layout ***
   *************************************************************************************/
  .child-comments-container {
    margin-left: $indend_margin;
    display: block;
    clear: both;

    img { width: $user_picture_child_comment_width ; }

    .child-social-comment{
      //padding:  2px;
      background: $comment_bg_color;
      //margin-bottom: 5px;
      margin-right: 5px;
    }

    .social-comment-content{
      margin-left: $indend_margin_children;
    }

    div.social-comment-links {
      margin-left: $indend_margin_children;

      ul {
        padding: 0;
        margin: 0;
      }
    }
  }

}
