/*#edeff4;*/
#social-comments-list {
  /**************************************************************************************
   *** All comments layout ***
   *************************************************************************************/
  /**************************************************************************************
   *** Main comments layout ***
   *************************************************************************************/
  /**************************************************************************************
   *** Children comments layout ***
   *************************************************************************************/ }
  #social-comments-list .social-comment {
    display: block;
    clear: both;
    overflow: auto; }
    #social-comments-list .social-comment .social-comment-user-picture-container {
      float: left; }
    #social-comments-list .social-comment .social-comment-content .social-comment-user-label {
      font-weight: bold;
      color: #3B5998; }
      #social-comments-list .social-comment .social-comment-content .social-comment-user-label a:link {
        color: #3B5998; }
    #social-comments-list .social-comment .social-comment-content .social-comment-date-created {
      display: block;
      color: #999999; }
    #social-comments-list .social-comment div.social-comment-links a:link {
      color: #3b5998; }
    #social-comments-list .social-comment div.social-comment-links ul {
      padding: 0;
      list-style-type: none;
      list-style-image: none;
      float: left; }
      #social-comments-list .social-comment div.social-comment-links ul li {
        display: inline;
        margin: 0;
        padding-right: 4px; }
    #social-comments-list .social-comment div.social-comment-links .form-type-checkbox {
      margin: 0;
      display: inline; }
  #social-comments-list .main-comment-container img {
    width: 50px; }
  #social-comments-list .main-comment-container .main-social-comment {
    padding: 2px; }
  #social-comments-list .main-comment-container .social-comment-user-label {
    display: block;
    font-size: 1.05em;
    line-height: 20px;
    padding-top: 10px; }
  #social-comments-list .main-comment-container .social-comment-date-created {
    line-height: 10px;
    padding-bottom: 10px; }
  #social-comments-list .main-comment-container .social-comment-content {
    margin-left: 60px; }
  #social-comments-list .main-comment-container div.social-comment-links {
    background: #fafbfb;
    border: 1px solid #e9eaed;
    padding: 4px 0; }
    #social-comments-list .main-comment-container div.social-comment-links ul {
      margin: 0 10px; }
  #social-comments-list .main-comment-container div.social-comments-ajax-container {
    margin-left: 60px; }
  #social-comments-list .main-comment-container div.social-comments-form-container {
    margin-left: 60px; }
  #social-comments-list .child-comments-container {
    margin-left: 60px;
    display: block;
    clear: both; }
    #social-comments-list .child-comments-container img {
      width: 35px; }
    #social-comments-list .child-comments-container .child-social-comment {
      background: #fafbfb;
      margin-bottom: 5px;
      margin-right: 5px; }
    #social-comments-list .child-comments-container .social-comment-content {
      margin-left: 45px; }
    #social-comments-list .child-comments-container div.social-comment-links {
      margin-left: 45px; }
      #social-comments-list .child-comments-container div.social-comment-links ul {
        padding: 0;
        margin: 0; }

/*#edeff4;*/
#social-comments-list .social-comments-ajax-container {
  background: #fafbfb;
  margin-right: 5px; }
  #social-comments-list .social-comments-ajax-container form {
    margin: 0;
    padding: 0; }
    #social-comments-list .social-comments-ajax-container form .form-item {
      margin: 0;
      padding: 0; }
#social-comments-list .social-comments-form-container {
  background: #fafbfb;
  margin-right: 5px; }
  #social-comments-list .social-comments-form-container form {
    margin: 0;
    padding: 0; }
    #social-comments-list .social-comments-form-container form .form-item {
      margin: 0;
      padding: 0; }
  #social-comments-list .social-comments-form-container form {
    margin-left: 45px; }
    #social-comments-list .social-comments-form-container form textarea {
      resize: none;
      border: 1px solid #e3e3e3;
      width: 99.90%; }
  #social-comments-list .social-comments-form-container .social-comments-user-picture-container {
    float: left; }
    #social-comments-list .social-comments-form-container .social-comments-user-picture-container img {
      width: 35px; }

.social-comments-wrapper {
  padding: 5px;
  margin-top: 70px;
  /** Apply only to main comments **/ }
  .social-comments-wrapper #social-comments-list div {
    padding: 1px 0; }
  .social-comments-wrapper .social-comments-topic-container {
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    margin: 15px 0; }
