@import "social_comments_base";

@mixin reset_form {
  form {
    margin: 0;
    padding: 0;

    .form-item {
      margin: 0;
      padding: 0;
    }
  }
}

#social-comments-list {

  .social-comments-ajax-container {
    background: $comment_bg_color;
    @include reset_form;
    margin-right: 5px;
  }

  .social-comments-form-container {
    background: $comment_bg_color;
    @include reset_form;
    margin-right: 5px;
    form {
      margin-left: $indend_margin_children;
      textarea {
        resize: none;
        border: 1px solid #e3e3e3;
        width: 99.90%;
      }
    }

    .social-comments-user-picture-container {
      img {width: $user_picture_child_comment_width;}
      float: left;
    }
  }

  .social-comments-area {
    background: #FFFFFF;
    border: 1px solid #e4e4e4;
    border-radius: 3px;

  }

}
