@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/comment\.scss}line{font-family:\000034}}
.comment {
  background: #edeff4;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/comment\.scss}line{font-family:\000038}}
.form-textarea-wrapper textarea {
  padding: 0;
  resize: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/comment\.scss}line{font-family:\0000313}}
section#comments {
  margin-top: 35px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/comment\.scss}line{font-family:\0000317}}
article.comment {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/comment\.scss}line{font-family:\0000322}}
.image-container {
  float: left;
  width: 37px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/comment\.scss}line{font-family:\0000326}}
.image-container img {
  width: 35px;
  margin-left: 4px !important;
  padding-top: 8px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/comment\.scss}line{font-family:\0000333}}
.comment-body-with-author {
  background: #edeff4;
  margin-left: 30px;
  min-height: 60px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/comment\.scss}line{font-family:\0000337}}
.comment-body-with-author p {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/comment\.scss}line{font-family:\0000341}}
.comment-body-with-author .author-name {
  font-weight: bold;
  color: #3340be;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/comment\.scss}line{font-family:\0000346}}
.comment {
  margin-bottom: 1px !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/comment\.scss}line{font-family:\0000350}}
.comment-header, .comment-footer {
  margin-left: 16px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/comment\.scss}line{font-family:\0000354}}
.main-comment {
  background: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/comment\.scss}line{font-family:\0000356}}
.main-comment .image-container {
  width: 65px;
  background: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/comment\.scss}line{font-family:\0000359}}
.main-comment .image-container img {
  width: 65px;
  margin-left: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/comment\.scss}line{font-family:\0000367}}
.main-comment .comment-body-with-author {
  margin-left: 70px;
  min-height: 67px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/comment\.scss}line{font-family:\0000371}}
.main-comment .comment-header, .main-comment .comment-footer {
  margin-left: 4px;
  padding: 2px 0 0 3px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/comment\.scss}line{font-family:\0000381}}
#comments .indented {
  margin-left: 70px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/comment\.scss}line{font-family:\0000385}}
.comment-date-created {
  display: block;
  font-size: .9em;
  color: #808287;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/comment\.scss}line{font-family:\0000391}}
.main-comment {
  margin-top: 0px;
  border-top: 2px dotted #d1d1d1;
  padding-top: 7px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/comment\.scss}line{font-family:\0000396}}
.main-comment .add-post-comment-form {
  margin-top: 7px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/comment\.scss}line{font-family:\0000399}}
.main-comment .add-post-comment-form .new-post-picture {
  float: left;
  width: 37px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/comment\.scss}line{font-family:\00003103}}
.main-comment .add-post-comment-form .new-post-picture img {
  width: 35px;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/comment\.scss}line{font-family:\00003108}}
.main-comment .add-post-comment-form .new-post-form {
  margin-left: 40px;
  padding-top: 0px;
  min-height: 55px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/comment\.scss}line{font-family:\00003118}}
.main-comment .add-post-comment-form .new-post-form input.form-submit {
  border: none;
  border-radius: 0;
  padding: 0 5px 0 0;
  color: #3340be;
  font-size: 0.7em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/comment\.scss}line{font-family:\00003129}}
.main-comment .add-post-comment-form .new-post-form .grippie {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/comment\.scss}line{font-family:\00003133}}
.main-comment .add-post-comment-form .new-post-form .form-item {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/comment\.scss}line{font-family:\00003140}}
.link-wrapper ul.links .comment_forbidden {
  display: none;
}
