/*#edeff4;*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_single_comment\.scss}line{font-family:\0000357}}
#social-comments-list {
  /**************************************************************************************
   *** All comments layout ***
   *************************************************************************************/
  /**************************************************************************************
   *** Main comments layout ***
   *************************************************************************************/
  /**************************************************************************************
   *** Children comments layout ***
   *************************************************************************************/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_single_comment\.scss}line{font-family:\0000362}}
#social-comments-list .social-comment {
  display: block;
  clear: both;
  overflow: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_single_comment\.scss}line{font-family:\000034}}
#social-comments-list .social-comment .social-comment-user-picture-container {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_single_comment\.scss}line{font-family:\0000310}}
#social-comments-list .social-comment .social-comment-content .social-comment-user-label {
  font-weight: bold;
  color: #3B5998;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_single_comment\.scss}line{font-family:\0000312}}
#social-comments-list .social-comment .social-comment-content .social-comment-user-label a:link {
  color: #3B5998;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_single_comment\.scss}line{font-family:\0000318}}
#social-comments-list .social-comment .social-comment-content .social-comment-date-created {
  display: block;
  color: #999999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_single_comment\.scss}line{font-family:\0000324}}
#social-comments-list .social-comment div.social-comment-links {
  overflow: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_single_comment\.scss}line{font-family:\0000328}}
#social-comments-list .social-comment div.social-comment-links a:link {
  color: #3b5998;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_single_comment\.scss}line{font-family:\0000332}}
#social-comments-list .social-comment div.social-comment-links ul {
  padding: 0;
  list-style-type: none;
  list-style-image: none;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_single_comment\.scss}line{font-family:\0000338}}
#social-comments-list .social-comment div.social-comment-links ul li {
  display: inline;
  margin: 0;
  padding-right: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_single_comment\.scss}line{font-family:\0000345}}
#social-comments-list .social-comment div.social-comment-links .form-type-checkbox {
  margin: 0;
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_single_comment\.scss}line{font-family:\0000350}}
#social-comments-list .social-comment div.social-comment-links form {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_single_comment\.scss}line{font-family:\0000368}}
#social-comments-list .social-comment .ajax-progress {
  display: inline;
  float: right;
  width: 200px;
  padding: 0;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_single_comment\.scss}line{font-family:\0000382}}
#social-comments-list .main-comment-container img {
  width: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_single_comment\.scss}line{font-family:\0000384}}
#social-comments-list .main-comment-container .main-social-comment {
  padding: 2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_single_comment\.scss}line{font-family:\0000388}}
#social-comments-list .main-comment-container .social-comment-user-label {
  display: block;
  font-size: 1.05em;
  line-height: 20px;
  padding-top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_single_comment\.scss}line{font-family:\0000395}}
#social-comments-list .main-comment-container .social-comment-date-created {
  line-height: 10px;
  padding-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_single_comment\.scss}line{font-family:\00003100}}
#social-comments-list .main-comment-container .social-comment-content {
  margin-left: 60px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_single_comment\.scss}line{font-family:\00003105}}
#social-comments-list .main-comment-container div.social-comment-links {
  background: #fafbfb;
  border: 1px solid #e9eaed;
  padding: 4px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_single_comment\.scss}line{font-family:\00003111}}
#social-comments-list .main-comment-container div.social-comment-links ul {
  margin: 0 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_single_comment\.scss}line{font-family:\00003118}}
#social-comments-list .main-comment-container div.social-comments-ajax-container {
  margin-left: 60px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_single_comment\.scss}line{font-family:\00003122}}
#social-comments-list .main-comment-container div.social-comments-form-container {
  margin-left: 60px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_single_comment\.scss}line{font-family:\00003132}}
#social-comments-list .child-comments-container {
  margin-left: 60px;
  display: block;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_single_comment\.scss}line{font-family:\00003137}}
#social-comments-list .child-comments-container img {
  width: 35px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_single_comment\.scss}line{font-family:\00003139}}
#social-comments-list .child-comments-container .child-social-comment {
  background: #fafbfb;
  margin-right: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_single_comment\.scss}line{font-family:\00003146}}
#social-comments-list .child-comments-container .social-comment-content {
  margin-left: 45px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_single_comment\.scss}line{font-family:\00003150}}
#social-comments-list .child-comments-container div.social-comment-links {
  margin-left: 45px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_single_comment\.scss}line{font-family:\00003153}}
#social-comments-list .child-comments-container div.social-comment-links ul {
  padding: 0;
  margin: 0;
}

/*#edeff4;*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_forms\.scss}line{font-family:\0000317}}
#social-comments-list .social-comments-ajax-container {
  background: #fafbfb;
  margin-right: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_forms\.scss}line{font-family:\000034}}
#social-comments-list .social-comments-ajax-container form {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_forms\.scss}line{font-family:\000038}}
#social-comments-list .social-comments-ajax-container form .form-item {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_forms\.scss}line{font-family:\0000323}}
#social-comments-list .social-comments-form-container {
  background: #fafbfb;
  margin-right: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_forms\.scss}line{font-family:\000034}}
#social-comments-list .social-comments-form-container form {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_forms\.scss}line{font-family:\000038}}
#social-comments-list .social-comments-form-container form .form-item {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_forms\.scss}line{font-family:\0000327}}
#social-comments-list .social-comments-form-container form {
  margin-left: 45px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_forms\.scss}line{font-family:\0000329}}
#social-comments-list .social-comments-form-container form textarea {
  resize: none;
  border: 1px solid #e3e3e3;
  width: 99.90%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_forms\.scss}line{font-family:\0000336}}
#social-comments-list .social-comments-form-container .social-comments-user-picture-container {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_forms\.scss}line{font-family:\0000337}}
#social-comments-list .social-comments-form-container .social-comments-user-picture-container img {
  width: 35px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_forms\.scss}line{font-family:\0000342}}
#social-comments-list .social-comments-area {
  background: #FFFFFF;
  border: 1px solid #e4e4e4;
  border-radius: 3px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_layout\.scss}line{font-family:\000034}}
.social-comments-wrapper {
  padding: 5px;
  margin-top: 70px;
  font-size: 0.9em;
  font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
  /** Apply only to main comments **/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_layout\.scss}line{font-family:\0000312}}
.social-comments-wrapper #social-comments-list div {
  padding: 1px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_layout\.scss}line{font-family:\0000318}}
.social-comments-wrapper .social-comments-topic-container {
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  margin: 15px 0;
}
