/*#edeff4;*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_forms\.scss}line{font-family:\0000317}}
#social-comments-list .social-comments-ajax-container {
  background: #fafbfb;
  margin-right: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_forms\.scss}line{font-family:\000034}}
#social-comments-list .social-comments-ajax-container form {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_forms\.scss}line{font-family:\000038}}
#social-comments-list .social-comments-ajax-container form .form-item {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_forms\.scss}line{font-family:\0000323}}
#social-comments-list .social-comments-form-container {
  background: #fafbfb;
  margin-right: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_forms\.scss}line{font-family:\000034}}
#social-comments-list .social-comments-form-container form {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_forms\.scss}line{font-family:\000038}}
#social-comments-list .social-comments-form-container form .form-item {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_forms\.scss}line{font-family:\0000327}}
#social-comments-list .social-comments-form-container form {
  margin-left: 45px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_forms\.scss}line{font-family:\0000329}}
#social-comments-list .social-comments-form-container form textarea {
  resize: none;
  border: 1px solid #e3e3e3;
  width: 99.90%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_forms\.scss}line{font-family:\0000336}}
#social-comments-list .social-comments-form-container .social-comments-user-picture-container {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_forms\.scss}line{font-family:\0000337}}
#social-comments-list .social-comments-form-container .social-comments-user-picture-container img {
  width: 35px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/mysite\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments_forms\.scss}line{font-family:\0000342}}
#social-comments-list .social-comments-area {
  background: #FFFFFF;
  border: 1px solid #e4e4e4;
  border-radius: 3px;
}
