@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\000038}}
.comments, .comments-list {
  margin-top: 35px;
  /*
  * TOP COMMENT FORM
  */
  /**
  * MAIN COMMENT
  */
  /** NEW PARENT COMMENTS*/
  /*
  * INDENTED
  */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\0000312}}
.comments .buttons-container, .comments-list .buttons-container {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\0000315}}
.comments article.comment, .comments-list article.comment {
  margin-bottom: 0!important;
  margin-top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\0000320}}
.comments .comment, .comments-list .comment {
  background: #edeff4;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\0000327}}
.comments .comment:not(.has-form) .comment_forbidden, .comments-list .comment:not(.has-form) .comment_forbidden {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\0000332}}
.comments *, .comments-list * {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\0000340}}
.comments .top-comment-form, .comments-list .top-comment-form {
  margin-bottom: 25px;
  min-height: 90px;
  clear: both;
  width: 100%;
  padding: 5px;
  -webkit-box-shadow: rgba(0, 0, 255, 0.4) 0 0 25px, rgba(0, 128, 0, 0.2) 0 0 3px 1px inset;
  -moz-box-shadow: rgba(0, 0, 255, 0.4) 0 0 25px, rgba(0, 128, 0, 0.2) 0 0 3px 1px inset;
  box-shadow: rgba(0, 0, 255, 0.4) 0 0 25px, rgba(0, 128, 0, 0.2) 0 0 3px 1px inset;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\0000351}}
.comments .top-comment-form .comment-image, .comments-list .top-comment-form .comment-image {
  width: 75px;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\0000354}}
.comments .top-comment-form .comment-image .user-picture, .comments-list .top-comment-form .comment-image .user-picture {
  width: 45px;
  padding: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\0000355}}
.comments .top-comment-form .comment-image .user-picture img, .comments-list .top-comment-form .comment-image .user-picture img {
  width: 75px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\0000363}}
.comments .top-comment-form .form-wrapper, .comments-list .top-comment-form .form-wrapper {
  margin-left: 95px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\0000366}}
.comments .top-comment-form .form-wrapper .user-name, .comments-list .top-comment-form .form-wrapper .user-name {
  font-weight: bold;
  color: #3340be;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\0000371}}
.comments .top-comment-form .form-wrapper .comment-form, .comments-list .top-comment-form .form-wrapper .comment-form {
  padding-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\0000386}}
.comments .main-comment div[id^="ajax-comments-container"], .comments-list .main-comment div[id^="ajax-comments-container"] {
  padding: 0;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\0000389}}
.comments .main-comment div[id^="ajax-comments-container"] article, .comments-list .main-comment div[id^="ajax-comments-container"] article {
  -webkit-box-shadow: rgba(0, 0, 255, 0.4) 0 0 15px, rgba(0, 128, 0, 0.2) 0 0 2px 1px inset;
  -moz-box-shadow: rgba(0, 0, 255, 0.4) 0 0 15px, rgba(0, 128, 0, 0.2) 0 0 2px 1px inset;
  box-shadow: rgba(0, 0, 255, 0.4) 0 0 15px, rgba(0, 128, 0, 0.2) 0 0 2px 1px inset;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\0000394}}
.comments .main-comment div[id^="ajax-comments-container"] article .image-container, .comments-list .main-comment div[id^="ajax-comments-container"] article .image-container {
  width: 32px;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\00003100}}
.comments .main-comment div[id^="ajax-comments-container"] article .image-container img, .comments-list .main-comment div[id^="ajax-comments-container"] article .image-container img {
  width: 32px;
  margin: 3px 3px 0 2px;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\00003108}}
.comments .main-comment div[id^="ajax-comments-container"] .comment-header, .comments-list .main-comment div[id^="ajax-comments-container"] .comment-header {
  margin-left: 42px;
  padding-right: 4px;
  text-align: justify;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\00003113}}
.comments .main-comment div[id^="ajax-comments-container"] .comment-body-with-author, .comments-list .main-comment div[id^="ajax-comments-container"] .comment-body-with-author {
  min-height: 50px;
  margin: 2px 0px;
  font-size: 0.9em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\00003121}}
.comments .main-comment div[id^="ajax-comments-container"] .comment-body-with-author .comment-date-created, .comments-list .main-comment div[id^="ajax-comments-container"] .comment-body-with-author .comment-date-created {
  color: #808287;
  font-size: .9em;
  background: #008000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\00003131}}
.comments .main-comment .image-container, .comments-list .main-comment .image-container {
  width: 55px;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\00003135}}
.comments .main-comment .image-container img, .comments-list .main-comment .image-container img {
  width: 50px;
  padding: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\00003141}}
.comments .main-comment .comment-body-with-author, .comments-list .main-comment .comment-body-with-author {
  margin-left: 65px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\00003144}}
.comments .main-comment .comment-body-with-author header.comment-header, .comments-list .main-comment .comment-body-with-author header.comment-header {
  font-size: 1.1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\00003146}}
.comments .main-comment .comment-body-with-author header.comment-header .author-name, .comments-list .main-comment .comment-body-with-author header.comment-header .author-name {
  color: #3340be;
  font-weight: bold;
  float: left;
  margin-right: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\00003153}}
.comments .main-comment .comment-body-with-author header.comment-header .comment-date-created, .comments-list .main-comment .comment-body-with-author header.comment-header .comment-date-created {
  color: #808287;
  font-size: .9em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\00003164}}
.comments .main-comment .comment-body-with-author footer.comment-footer .add-post-comment-form, .comments-list .main-comment .comment-body-with-author footer.comment-footer .add-post-comment-form {
  margin-top: 5px;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\00003169}}
.comments .main-comment .comment-body-with-author footer.comment-footer .add-post-comment-form .new-post-picture, .comments-list .main-comment .comment-body-with-author footer.comment-footer .add-post-comment-form .new-post-picture {
  float: left;
  width: 32px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\00003174}}
.comments .main-comment .comment-body-with-author footer.comment-footer .add-post-comment-form .new-post-picture img, .comments-list .main-comment .comment-body-with-author footer.comment-footer .add-post-comment-form .new-post-picture img {
  margin: 3px 0 0 2px;
  width: 32px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\00003182}}
.comments .main-comment .comment-body-with-author footer.comment-footer .add-post-comment-form .new-post-form, .comments-list .main-comment .comment-body-with-author footer.comment-footer .add-post-comment-form .new-post-form {
  margin-left: 40px;
  padding: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\00003196}}
.comments .comments-list > div[id^="ajax-comments-container"] article, .comments-list .comments-list > div[id^="ajax-comments-container"] article {
  -webkit-box-shadow: rgba(255, 0, 0, 0.4) 0 0 15px, rgba(0, 128, 0, 0.2) 0 0 2px 1px inset;
  -moz-box-shadow: rgba(255, 0, 0, 0.4) 0 0 15px, rgba(0, 128, 0, 0.2) 0 0 2px 1px inset;
  box-shadow: rgba(255, 0, 0, 0.4) 0 0 15px, rgba(0, 128, 0, 0.2) 0 0 2px 1px inset;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\00003202}}
.comments .comments-list > div[id^="ajax-comments-container"] .image-container .user-picture, .comments-list .comments-list > div[id^="ajax-comments-container"] .image-container .user-picture {
  width: 50px;
  float: left;
  margin: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\00003209}}
.comments .comments-list > div[id^="ajax-comments-container"] .comment-body-with-author, .comments-list .comments-list > div[id^="ajax-comments-container"] .comment-body-with-author {
  margin-left: 65px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\00003213}}
.comments .comments-list > div[id^="ajax-comments-container"] .comment-body-with-author header.comment-header, .comments-list .comments-list > div[id^="ajax-comments-container"] .comment-body-with-author header.comment-header {
  font-size: 1.1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\00003215}}
.comments .comments-list > div[id^="ajax-comments-container"] .comment-body-with-author header.comment-header .author-name, .comments-list .comments-list > div[id^="ajax-comments-container"] .comment-body-with-author header.comment-header .author-name {
  color: #3340be;
  font-weight: bold;
  float: left;
  margin-right: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\00003222}}
.comments .comments-list > div[id^="ajax-comments-container"] .comment-body-with-author header.comment-header .comment-date-created, .comments-list .comments-list > div[id^="ajax-comments-container"] .comment-body-with-author header.comment-header .comment-date-created {
  color: #808287;
  font-size: .9em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\00003233}}
.comments .comments-list > div[id^="ajax-comments-container"] .comment-body-with-author footer.comment-footer .add-post-comment-form, .comments-list .comments-list > div[id^="ajax-comments-container"] .comment-body-with-author footer.comment-footer .add-post-comment-form {
  margin-top: 5px;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\00003238}}
.comments .comments-list > div[id^="ajax-comments-container"] .comment-body-with-author footer.comment-footer .add-post-comment-form .new-post-picture, .comments-list .comments-list > div[id^="ajax-comments-container"] .comment-body-with-author footer.comment-footer .add-post-comment-form .new-post-picture {
  float: left;
  width: 32px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\00003244}}
.comments .comments-list > div[id^="ajax-comments-container"] .comment-body-with-author footer.comment-footer .add-post-comment-form .new-post-picture .user-picture img, .comments-list .comments-list > div[id^="ajax-comments-container"] .comment-body-with-author footer.comment-footer .add-post-comment-form .new-post-picture .user-picture img {
  margin: 3px 0 0 2px;
  width: 32px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\00003252}}
.comments .comments-list > div[id^="ajax-comments-container"] .comment-body-with-author footer.comment-footer .add-post-comment-form .new-post-form, .comments-list .comments-list > div[id^="ajax-comments-container"] .comment-body-with-author footer.comment-footer .add-post-comment-form .new-post-form {
  margin-left: 40px;
  padding: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\00003267}}
.comments .custom-links-container span, .comments-list .custom-links-container span {
  vertical-align: super;
  font-size: .8em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\00003274}}
.comments .grippie, .comments-list .grippie {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\00003278}}
.comments textarea, .comments-list textarea {
  padding: 0;
  resize: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\00003286}}
.comments .indented, .comments-list .indented {
  margin-left: 65px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\00003291}}
.comments .indented div[id^="ajax-comments-container"] article, .comments-list .indented div[id^="ajax-comments-container"] article {
  margin-top: 10px;
  -webkit-box-shadow: rgba(0, 0, 255, 0.4) 0 0 15px, rgba(0, 128, 0, 0.2) 0 0 2px 1px inset;
  -moz-box-shadow: rgba(0, 0, 255, 0.4) 0 0 15px, rgba(0, 128, 0, 0.2) 0 0 2px 1px inset;
  box-shadow: rgba(0, 0, 255, 0.4) 0 0 15px, rgba(0, 128, 0, 0.2) 0 0 2px 1px inset;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\00003298}}
.comments .indented article, .comments-list .indented article {
  margin: 2px 0 2px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\00003302}}
.comments .indented img, .comments-list .indented img {
  width: 32px;
  float: left;
  margin: 3px 3px 0 2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\00003308}}
.comments .indented .comment-body-with-author, .comments-list .indented .comment-body-with-author {
  margin: 2px 0 2px 0px;
  min-height: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\00003313}}
.comments .indented .comment-body-with-author .comment-header, .comments-list .indented .comment-body-with-author .comment-header {
  margin-left: 42px;
  padding-right: 4px;
  text-align: justify;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\00003321}}
.comments .indented .comment-body-with-author .comment-footer .links, .comments-list .indented .comment-body-with-author .comment-footer .links {
  margin-left: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\00003325}}
.comments .indented .comment-body-with-author .comment-footer .add-post-comment-form, .comments-list .indented .comment-body-with-author .comment-footer .add-post-comment-form {
  clear: both;
  border-top: 1px dotted #c1c3c8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\00003329}}
.comments .indented .comment-body-with-author .comment-footer .add-post-comment-form .new-post-picture, .comments-list .indented .comment-body-with-author .comment-footer .add-post-comment-form .new-post-picture {
  float: left;
  width: 32px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\00003334}}
.comments .indented .comment-body-with-author .comment-footer .add-post-comment-form .new-post-picture img, .comments-list .indented .comment-body-with-author .comment-footer .add-post-comment-form .new-post-picture img {
  width: 32px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\00003339}}
.comments .indented .comment-body-with-author .comment-footer .add-post-comment-form .new-post-form, .comments-list .indented .comment-body-with-author .comment-footer .add-post-comment-form .new-post-form {
  padding: 5px;
  margin-left: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\00003352}}
.comments .indented .author-name, .comments-list .indented .author-name {
  font-weight: bold;
  color: #3340be;
  float: left;
  margin-right: 6px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\00003359}}
.comments .indented .comment-date-created, .comments-list .indented .comment-date-created {
  display: block;
  color: #808287;
  font-size: .9em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\00003369}}
.comments .links a, .comments-list .links a {
  color: #3340be;
  font-size: .9em;
  background: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\00003374}}
.comments .links a:hover, .comments-list .links a:hover {
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\00003380}}
.comments a.goto-links img, .comments-list a.goto-links img {
  background: transparent;
  width: 22px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/antonio\/Dropbox\/www\/www\/ol-classes\/sites\/default\/modules\/custom\/social_comments\/assets\/sass\/social_comments\.scss}line{font-family:\00003384}}
.comments a.goto-links :hover, .comments-list a.goto-links :hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
